body { background-image:  url('https://cdn.pixabay.com/photo/2017/03/25/18/06/color-2174066_960_720.png');  background-size: cover; color: #34624B;  font-family: Verdana,  sans-serif}
h1.one {color: #410F67; text-shadow: 2px 2px 3px #9A61C6;}
h1.two {color: #61C694; text-shadow: 2px 2px 3px #3D9A6C;}
h2{color: #664A9E; text-shadow: 2px 2px 3px #000;}
h3{color: #CF1C28; text-shadow: 2px 2px 3px #000;}
h5{color: #CF1C8D; text-shadow: 1.5px 1.5px 1.5px #000;}